/* ----------------
  Hero
---------------------*/

.hero-section {
	padding: 0 0 50px;
}

.hero-slider .hs-item {
	position: relative;
	height: 720px;
}

.hero-slider .hs-item span {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	margin-bottom: 5px;
	display: block;
	position: relative;
	top: 50px;
	opacity: 0;
}

/* -----------------------
  Product filter section
-------------------------*/

.product-filter-section {
	padding-bottom: 60px;
}

.product-filter-section .section-title {
	margin-bottom: 70px;
}

.product-filter-menu {
	list-style: none;
	margin: 0 -10px;
	padding-bottom: 15px;
}

.product-filter-menu li {
	margin: 0 10px 10px;
}

.product-filter-menu li a {
	color: #141726;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #ECF0F4;
	display: block;
	width: 100%;
	padding: 10px 34px;
	border-radius: 31px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background-color: #E9155F;
	color: #FFF;
}

.product-filter-menu li a:hover {
	background-color: transparent;
	border: 1px solid #E9155F;
}

#backToTop {
	display: inline-block;
	background-color: #E9155F;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s,
		opacity .5s, visibility .5s;
	opacity: 0;
	border-radius: 50px;
	visibility: hidden;
	color: #fff;
}

#backToTop::after {
	content: "\f077";
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	font-size: 2em;
	line-height: 50px;
}

#backToTop:hover {
	cursor: pointer;
	background-color: #FFF;
	color: #141726;
}

#backToTop.show {
	opacity: 1;
	visibility: visible;
}